body { 
  padding-top: 15em; 
  background-color: #F78C99;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  flex: none;
  width: 100%;
}

nav {
  flex: none;
  opacity: 0;
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

nav a { 
  padding-left: 8px; 
  color: black;
}
